
body {
  font-family: Arial, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}
.container {
  margin-top: 50px;
}
.button {
  display: block;
  margin: 20px auto;
  padding: 15px 25px;
  background-color: #0b4e8c;
  color: white;
  text-decoration: none;
  font-size: 18px;
  width: 250px;
  border-radius: 8px;
}
